<section class="hero">
    <div  class="row">
        <div class="col-12 col-sm-6 f-col">
            <h1>Ciao!</h1>
            <p>The "anti-social social network"</p>
            <p>No likes, no alogorithms, small friend groups, meanigful content</p>
            <p> Join now!</p>
        </div>
        <div class="col-12 col-sm-6 f-col">
            <h3>Sign in:</h3>
            <.live_component module={SignInComponent} id={"signin"} />
        </div>
    </div>
</section>
