<h1>Log in</h1>
<div class="f-row justify-center">
    <div class="col-10">
        <.live_component module={SignInComponent} id={"signin"} />
    </div>
</div>
<p>
  <%= link "Register", to: "#" %> |
  <%= link "Forgot your password?", to: "#" %>
</p>
