<.form for={@new_changeset} let={f}  phx-submit={"create_place"} >
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= label f, :description %>
    <%= text_input f, :description %>
    <%= label f, :slug %>
    <%= text_input f, :slug %>
    <%= submit "Create" %>
</.form>

<ul>
    <%= for place <- @places do %>
        <li>
          <%= link place.name, to: Routes.live_path(@socket, CiaoWeb.PlaceLive.Show, place.id) %>
        </li>
    <% end %>
</ul>
