<%= if @current_user do %>
    <div class="mobile-nav--secondary f-row">
        <button class="mobile-nav--btn" id="show-places--btn" data-panel="places-list--panel">
            Places
        </button>
    </div>
<% end %>
    
