@use 'globals' as *;
@use 'cardinal/media_queries' as media;

body > header {
    padding: .5rem;
    background-color: var(--primary-lite);
    height: 55px;

    section {
        height: 100%;
        padding: 0;
    }
}

nav {
    padding: .5rem;
    height: 100%;

    h1 {
        color: var(--text-headers);
        margin: 0px;
    }

    .navbar-collapse {
        display: none;

        &.active {
            display: block;
            position: absolute;
            left: 0;
            top: 55px;
            width: 100%;
            z-index: 800;
            background-color: var(--primary-lite);

            ul {
                flex-direction: column;
                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        border-top: solid 1px var(--primary);
                    }
            }
        }

        @include media.media-md {
            display: block;
        }
    }
}

.navbar-collapse {
    ul {
        flex-direction: column;

        li {
            font-size: var(--header_3_font_size);
            font-weight: 400;

            @include media.media-md {
                font-size: var(--lg_font_size);

            }
        }

        @include media.media-md {
            flex-direction: row;
        }
    }
}

.navbar-mobile--icon span {
    display: block;
	height: 2px;
	border-radius: 2px;
	background-color: var(--primary-dark);
	position: absolute;
	transition: 0.6s;
	transform-origin: center;
	width: 25px;
	z-index: 800;
    margin-left: -20px;

	@include media.media-md {
		display: none;
	}

	&:nth-child(1) {
		top: 20px;
	}
	&:nth-child(2) {
		top: 27px;
	}
	&:nth-child(3) {
		top: 34px;
	}
}


.navbar-mobile--icon.active span:nth-child(1) {
	transform: translateY(9px) rotate(140deg);
}
.navbar-mobile--icon.active span:nth-child(2) {
	opacity: 0;
}
.navbar-mobile--icon.active span:nth-child(3) {
	transform: translateY(-5px) rotate(-140deg);
}


submenu {
  display: block;
  background-color: var(--primary-lite);
  @include media.media-md {
    display: none;
  }
}

.places-list, .place-about, .place-users {
    position: absolute;
    left: -600px;
    background-color: hsl(0deg 0% 100% / 90%);
    z-index: 500;
    transition: left .4s;
    height: 100vh;
    width: 100%;

    &.open {
        position: sticky;
        top: 0;
        left: 0px;

        @include media.media-sm {
            position: relative;
        }
    }

    @include media.media-sm {
        position: relative;
        left: 0;
        height: 100%;
        width: 100%;
    }

    @include media.media-md {
        width: calc(8.3333333333% * 3);

    }
}

.mobile-nav--secondary {
    position: fixed;
    bottom: 0;
    z-index: 500;
    background-color: hsl(0deg 0% 100% / 60%);
    height: 50px;
    width: 100%;
    padding: 4px 0 4px 0;


    @include media.media-sm {
        display: none;
    }
}

.mobile-nav--btn {
    position: relative;
    flex: 1;
    margin: 0 2px 5px 2px;
    background-color: var(--secondary);

}
