@use 'globals' as *;
@use 'cardinal/media_queries' as media;

body > header {
    padding: .5rem;
    background-color: var(--primary);
    height: 80px;

    section {
        height: 100%;
        padding: 0;
    }
}

nav {
    padding: .5rem;
    height: 100%;

    h1 {
        color: var(--primary-dark);
        margin: 0px;
    }

    .navbar-collapse {
        display: none;

        &.active {
            display: block;
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            background-color: var(--primary);

            ul {
                flex-direction: column;
                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        border-top: solid 1px var(--primary-ghost);
                    }
            }
        }

        @include media.media-md {
            display: block;
        }
    }
}

.navbar-collapse {
    ul {
        flex-direction: column;

        li {
            font-size: var(--header_3_font_size);
            font-weight: 400;

            @include media.media-md {
                font-size: var(--lg_font_size);

            }
        }

        @include media.media-md {
            flex-direction: row;
        }
    }
}

.navbar-mobile--icon span {
    display: block;
	height: 2px;
	border-radius: 2px;
	background-color: var(--primary-dark);
	position: absolute;
	transition: 0.6s;
	transform-origin: center;
	width: 25px;
	z-index: 800;
    margin-left: -20px;

	@include media.media-md {
		display: none;
	}

	&:nth-child(1) {
		top: 30px;
	}
	&:nth-child(2) {
		top: 37px;
	}
	&:nth-child(3) {
		top: 44px;
	}
}


.navbar-mobile--icon.active span:nth-child(1) {
	transform: translateY(9px) rotate(140deg);
}
.navbar-mobile--icon.active span:nth-child(2) {
	opacity: 0;
}
.navbar-mobile--icon.active span:nth-child(3) {
	transform: translateY(-5px) rotate(-140deg);
}


submenu {
  display: block;
  baclground-color: var(--primary);
  @include media.media-md {
    display: none;
  }
}
