@use 'globals' as *;

.post {
    border: solid .5px hsl(205deg, 14%, 68%);
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: .5rem;

    .content {
        font-size: var(--lg_font_size);
        margin-top: .7rem;
        margin-bottom: .7rem;
        padding: .4rem;
    }

    .footer {
        background-color: var(--tertiary)-accent;
        font-size: var(--info_font_size);
        font-weight: 200;
        padding: .4rem;
    }

    .comment {
        font-size: var(--default_font_size);
        width: 100%;
        margin: .25rem;
        padding: .5rem;
    }

    .comment:nth-of-type(even) {
        background-color: var(--secondary)-accent--lite;
        border-radius: 8px 8px 0 8px;
    }
    .comment:nth-of-type(odd) {
        background-color: var(--primary-accent--lite);
        border-radius: 8px 8px 8px 0;
    }
}
